.btn {
  border: 2px solid #444444;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  font-family: @opensans;
  font-weight: bold;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
}
