.contacts {
  &__title {
    font-size: 18px;
    line-height: 30px;
    color: black;
    font-family: @opensans;
    font-weight: bold;
  }
  &__email-subtitle {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: @opensans;
    font-weight: normal;
  }
  &__email {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: @opensans;
    font-weight: normal;
    border-bottom: 2px solid #62d1ba;
    text-decoration: none;
  }
  &__address-subtitle {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: @opensans;
    font-weight: normal;
  }
  &__address {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: @opensans;
    font-weight: normal;
  }
}
