.contacts {
  &__title {
    font-size: 18px;
    line-height: 30px;
    color: black;
    font-weight: bold;
  }
  &__email-subtitle {
    font-size: 15px;
    line-height: 30px;
    color: @grey;
    font-weight: normal;
  }
  &__email {
    font-size: 15px;
    line-height: 30px;
    color: @grey;
    font-weight: normal;
    border-bottom: 2px solid #62d1ba;
    text-decoration: none;
  }
  &__address-subtitle {
    font-size: 15px;
    line-height: 30px;
    color: @grey;
    font-weight: normal;
  }
  &__address {
    font-size: 15px;
    line-height: 30px;
    color: @grey;
    font-weight: normal;
  }
  &__js-open-map {
    width: 320px;
    height: 457px;
    background-image: url(../img/map-mobile@1x.jpg);
    background-repeat: no-repeat;
    border: none;
  }
}
