.page-promo {
  min-height: 490px;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  &__title {
    font-size: 27px;
    line-height: 30px;
    color: black;
    font-weight: bold;
  }
  &__catalog-item--bg1 {
    background-color: #63d1bb;
  }
  &__catalog-item--bg2 {
    background-color: #56c3b2;
  }
  &__text {
    font-size: 19px;
    line-height: 24px;
    color: white;
    font-weight: bold;
  }
}
