.page-header {
  &__popup-list {
    list-style-type: none;
  }
  &__popup-link {
    font-size: 17px;
    line-height: 24px;
    color: black;
    font-family: @opensans;
    font-weight: bold;
    text-decoration: none;
  }
}
