.production {
  width: 100%;
  min-height: 503px;
  &__wrapper-center {
    .container();
    min-height: 503px;
    border: 1px solid #ececec;
    margin-bottom: 58px;
    margin-top: 30px;
  }
  &__title {
    font-size: 17px;
    line-height: 24px;
    width: 130px;
    margin-left: 90px;
    margin-bottom: 30px;
  }
  &__video {
    width: 260px;
    height: 150px;
    outline: 1px solid black;
    margin-bottom: 30px;
  }
  &__text {
    width: 190px;
    font-size: 13px;
    line-height: 24px;
    margin-left: 30px;
    margin-bottom: 35px;
  }
}

@media (min-width: @tablet-widths) {
  .production {
    min-height: 743px;
    &__wrapper-center {
      display: flex;
      flex-direction: column;
      padding-bottom: 22px;
    }
    &__title {
      width: 250px;
      font-size: 20px;
      line-height: 24px;
      margin-left: 150px;
    }
    &__video {
      order: -1;
      width: 668px;
      height: 455px;
    }
    &__text {
      width: 590px;
      margin-left: 40px;
      font-size: 15px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-widths) {
  .production {
    min-height: 455px;
    &__wrapper-center {
      padding-left: 683px;
      width: 368px;
      min-height: 455px;
      padding-bottom: 0;
      position: relative;
    }
    &__title {
      width: 154px;
      margin-left: 75px;
    }
    &__video {
      width: 683px;
      height: 455px;
      position: absolute;
      top: 0;
      left: 0px;
      margin-bottom: 0;
    }
    &__text {
      width: 228px;
      margin-left: 75px;
    }
  }
}
