.product-week {
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-family: @opensans;
    font-weight: bold;
    color: black;
  }
  &__time-product {
    font-size: 17px;
    line-height: 20px;
    font-family: @opensans;
    font-weight: bold;
    color: #63d1bb;
  }
  &__text {
    font-size: 15px;
    line-height: 24px;
    font-family: @opensans;
    font-weight: normal;
    color: #444444;
  }
  &__cell {
    font-size: 15px;
    line-height: 20px;
    font-family: @opensans;
    font-weight: normal;
    color: #444444;
  }
  &__price {
    font-size: 17px;
    line-height: 24px;
    font-family: @opensans;
    font-weight: bold;
    color: #444444;
  }
}
