.product-week {
  min-height: 820px;
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: black;
  }
  &__time-product {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #63d1bb;
  }
  &__text {
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: @grey;
  }
  &__cell {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: @grey;
  }
  &__photo {
    margin-bottom: 25px;
  }
  &__price {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: @grey;
  }
}
